<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeburringProcessConnectionString" connectionString="Data Source=AMIT-DEV4\MSSQL2017DEV4; Initial Catalog=MIVIN;User ID=sa; password=pctadmin$123"/>
    <!--<add name="DeburringProcessConnectionString" connectionString="Data Source=MEBWSRV\BKUPEXEC; Initial Catalog=TPM_PackingModule;User ID=sa; password=pctadmin$123" />-->
  </connectionStrings>
  <appSettings>
    <!--process names are  "Deburring Area,Dispatch Area","Welding Area","Grinding","Visualinspection", Post machining, Hydro Testing, Finalinspection, "PreDispatchinspection","Packing&amp;Dispatch" 
       add only single process in value.-->
    <add key="process" value="Deburring Area" />
    <!--only for packing pul value same as process-->
    <add key="packingname" value="Packing Area" />
<!--please give same name as dispatch process which is in process-->
    <add key="savedispatchprocess" value="Dispatch Area" />
    <add key="ShowFinalInspection" value="true" />
    <add key="DisableDispatchLogin" value="false" />
    <add key="InstallingPCType" value="Operator"/>
    <add key="DataRefreshTimeInterval" value="60"/>
    <!--1 to show production data 0 to hide-->
  <add key="Showproductiondata" value="1" />
    <!--1 to show Inspection Report 0 to hide-->
    <add key="ShowInspectionReport" value="1" />
    <!--Name(Or IP) of shared network the printer is connected to (Name of PC in case of locally connected printer) -->
    <add key="PrinterServer" value="172.36.0.11" />
    <!--Network shared name of the printer to print from -->
    <add key="PrinterName" value="HP LaserJet M1536dnf MFP (Hewlett-Packard)" />
    <!--Selected station for Operator -->
    <add key="OperatorStation" value="Station3" />
    
    <!--QR Code Scanner settings  -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <add key="QRScannerIP" value="192.168.0.251" />
    <add key="QRScannerPort" value="502" />
    <add key="RegisterAddress" value="7005" />
    <add key="NoOfRegistersToRead" value="40" />
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - --> 
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfShared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.4451.0.17" newVersion="15.4451.0.17" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
